<h1>New Releases</h1>
<p>
  The following is a list of new releases.<br />
  Click the <b>album cover</b> or <B>artist name</B> for more information.
</p>
<br />
<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <div
      fxFlex
      [style.margin]="'20px'"
      *ngFor="let album of releases.albums.items"
    >
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>{{ album.name }}</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="album-cover"
          [src]="album.images[0].url"
          alt="album art"
          [routerLink]="['/album', album.id]"
        />
        <strong>Release Date: </strong
        >{{ album.release_date | date: "shortDate" }}<br />
        <strong>Tracks: </strong>{{ album.total_tracks }}<br /><br />
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip
              *ngFor="let artist of album.artists"
              [routerLink]="['/artist', artist.id]"
              >{{ artist.name }}</mat-chip
            >
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
